@using myplat.Entity
@using myplat.UIWap.Models
@Model Core
@{
    ViewBag.Title = Model == null ? "今日精选" : Model.Title;
    var contentStr = string.Empty;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link href="~/Content/Home/css/Detail.css" rel="stylesheet" />
    <script src="https://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
    <script src="~/Content/Js/shequn.js?7"></script>
    <link href="~/Content/css/ArtDetailed_Share.css" rel="stylesheet" />
    <script>
        $(document).ready(function () {


            //分享
            var imgUrl = "http://img.junqingtv.com/d/2d/798d/2798176_640x480_140x90.jpg";
            var elems = document.getElementsByTagName("article")[0].getElementsByTagName("img");
            if (elems.length > 0) {
                imgUrl = elems[0].src;
            }
            baseUrl = document.location.href;
            baseUrl = baseUrl.replace(/&page=\w{0,}/i, "")
            baseUrl = baseUrl.replace(/&from=\w{0,}/i, "")
            share('@Html.Raw(Model.Title)', baseUrl, imgUrl, '@Html.Raw(Model.Intro)');
            //分享End

            //$(".f_section").bind("click", function (event) {
            //    //var Title = $(this).data("title");
            //    console.log(1);
            //    //_czc.push(['_trackEvent', 'weixin', 'click', Title]);
            //});
            $(".mp_img").bind("touchstart", function (event) {
                timeout = setTimeout(function () {
                    _czc.push(['_trackEvent', 'addfans', 'longTouch', '朋友圈']);
                }, 900);
            });

            $(".mp_img").bind("touchend", function (event) {
                clearTimeout(timeout);

            });

            $(".mp_img").bind("touchmove", function (event) {
                clearTimeout(timeout);

            });
            $(".feverUrl").bind("touchstart", function (event) {
                timeout = setTimeout(function () {
                    _czc.push(['_trackEvent', 'addfans', 'longTouch', '公众号']);
                }, 900);
            });

            $(".feverUrl").bind("touchend", function (event) {
                clearTimeout(timeout);

            });

            $(".feverUrl").bind("touchmove", function (event) {
                clearTimeout(timeout);

            });
        });
        function titleClick() {
            _czc.push(['_trackEvent', 'titleClick', 'click', '好文精选']);
        }
        function moreClick(index, title) {
            _czc.push(['_trackEvent', 'moreClickIndex', 'click', index]);
            _czc.push(['_trackEvent', 'moreClickTitle', 'click', title]);
        }
    </script>
</head>
<body style="background-color:#fff;">
    <section class="sec box-articlecontainer">
        <h2>@Html.Raw(Model.Title)</h2>
        <input type="hidden" name="articleId" id="articleId" value="@Model.Id" />
        <input type="hidden" name="RowNumber" id="RowNumber" value="@Html.Raw(ViewBag.RowNumber)" />
        <div class="box-articleinfo">
            <span>@Model.ShowTime.ToString("yyyy-MM-dd")</span>
            <a href="/Home/Index" onclick="titleClick()">好文精选</a>

            <span class="report" style="color:#607fa6;float:right">

                <a href="/home/reportpage?tid=@Model.Id&tt=文章&t=@Html.Raw(Model.Title)" style="color:#607fa6">
                    举报
                </a>
            </span>
        </div>
        <article>
            @if (Model.PageCount > 1 && Model.ContentList != null)
            {
                if (Model.ContentList.Count >= currentPage)
                {
                    contentStr = Model.ContentList[currentPage - 1];
                }
                else
                {
                    contentStr = "<p>完</p>";
                }
            }
            else
            {
                contentStr = Model.OriginalContent;
                if (!string.IsNullOrEmpty(contentStr) && Request.Url.Authority == "wxjx.yunbv.com")
                {
                    contentStr = contentStr.Replace("http://img.junqingtv.com", "https://img.junqingtv.com");
                }
            }
            @if (string.IsNullOrEmpty(contentStr))
            {
                contentStr = Model.OriginalContent;
                if (!string.IsNullOrEmpty(contentStr) && Request.Url.Authority == "wxjx.yunbv.com")
                {
                    contentStr = contentStr.Replace("http://img.junqingtv.com", "https://img.junqingtv.com");
                }
            }

            @Html.Raw(contentStr)



            <div id="articlefooter" class="articlefooter"></div>
            @*<div style="margin-bottom:10px;font-size:15px;">
                    觉得不错，点击右上角推荐给朋友吧！
                </div>*@

            @if (!string.IsNullOrEmpty(Thread.Intro))
            {
                @*<div style="color:red;border:2px solid rgb(240,240,240);padding:5px;text-align:center;">
                        <span style="font-size:13px;text-align:left;">@Thread.Intro</span>
                        <br />
                        <span style="color:black;font-size:15px;font-weight:600">@Regex.Replace(Thread.ThreadContent, @"<[^>]+>", string.Empty)</span>

                            <br />
                            <img src="http://img.junqingtv.com/d/2d/518d/origin/2518204_665x100.gif" style="width:100%;height:50px;margin-bottom:0px;" />
                    </div>*@
            }

            <div style="">
                @if (!string.IsNullOrEmpty(Thread.Intro))
                {
                    @*<span class="report" style="margin-bottom:10px;color:#607fa6;float:left">
                                <a href="@Thread.DirectUrl" style="color:#0052ff">
                                    阅读原文
                                </a>
                        </span>*@
                }

                <span class="report" style="margin-bottom:10px;color:#607fa6;float:right">
                    <a href="/home/reportpage?tid=@Model.Id&tt=文章&t=@Html.Raw(Model.Title)" style="color:#607fa6">
                        举报
                    </a>
                </span>

            </div>
        </article>
    </section>

    <div id="mainListContainer" style="background-color:#fff;">
        <h2 class="title-normal" style="font-size:16px;">
            <span>下面的内容更精彩</span>
            <img src="~/Content/image/arrow_jump.gif" style="width:20%;margin-bottom:-6px;height:25px;" />
        </h2>

    </div>
</body>
</html>
<script src="~/Content/public002.js"></script>
<script src="~/Content/Home/js/Detail001.js?t=2"></script>





